@import "../stylesheets/variables";

$side-w: $block-scale * $side-w-base;
$side-h: $block-scale * $side-h-base;

.block {
  display: inline-block;
  width: $side-w;
  height: 2 * $side-h;
  position: relative;

  margin-right: 1rem;

  svg {
    width: $side-w;
    height: $side-h;

    // Top
    &:nth-child(1) {
      position: relative;
    }
    // Left
    &:nth-child(2) {
      transform: rotate(-120deg);
      position: absolute;
      left: - .25 * $side-w;
      top: $side-h * .75;
    }
    // Right
    &:nth-child(3) {
      transform: rotate(120deg);
      position: absolute;

      left: .25 * $side-w;
      top: $side-h * .75;
    }
  }
}
