@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.text-center {
  text-align: center;
}

.blocks {
  @extend .text-center;
  padding-bottom: $side-h;

  .blocks-row {
    height: $side-h;
    &:nth-child(2n) {
      position: relative;
      right: $side-w / 2;
      top: - $side-h / 2;
    }
  }
}

body, html {
	background: $color-light;
}

.header {
  margin-bottom: 2rem;
}

h1 {
  font-family: Vollkorn;
  color: $color-dark;
  text-align: center;
  font-size: 2.9rem;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: .9rem;
  color: $color-dark;
  font-family: 'Open Sans';
}

a {
  color: $color-main;
}

.blocks {
  margin-bottom: 2rem;
}
