@import "variables";

.blocks {
  text-align: center;
  padding-bottom: $side-h;
  padding-left: $side-w / 2;

  margin-bottom: 2rem;
}

.blocksRow {
  height: $side-h;
  &:nth-child(2n) {
    position: relative;
    right: $side-w / 2;
    top: - $side-h / 2;
  }
}
