@import 'include-media/dist/_include-media';

@import "variables";


.gallery {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.loading {
  background: $color-nav-bg;
  width: 100%;
  height: 200px;
}

.item {
  > div, img {
    position: static !important;

    height: 400px;
    @include media("<oldphone") {
      height: 400px;
    }
    @include media("<phone", ">oldphone") {
      height: 500px;
    }
    @include media(">tablet") {
      height: 450px;
    }
    @include media(">laptop") {
      height: 550px;
    }
    @include media(">desktop") {
      height: 650px;
    }
    @include media(">fourk") {
      height: 1000px;
    }
  }
}
