@import 'include-media/dist/_include-media';

@import "variables";


.gallery {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.loading {
  background: $color-nav-bg;
  width: 100%;
  height: 200px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 3px solid $color-light;
  border-top-color: $color-main;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.item {
  position: relative;
  width: 100%;

  height: 400px;
  @include media("<oldphone") {
    height: 400px;
  }
  @include media("<phone", ">oldphone") {
    height: 500px;
  }
  @include media(">tablet") {
    height: 450px;
  }
  @include media(">laptop") {
    height: 550px;
  }
  @include media(">desktop") {
    height: 650px;
  }
  @include media(">fourk") {
    height: 1000px;
  }
}
