@import "variables";

.textCenter {
  text-align: center;
}

.title {
  font-size: $font-size-xl;
  font-family: 'Recursive', monospace;
  color: $color-text;
  text-align: center;
  margin-bottom: .5rem;
  font-weight: 50;
  font-variation-settings: 'MONO' 0, 'CASL' 0.1, 'slnt' 0, 'CRSV' 0;
}
