// Constants
$phi: 1.6180339887498948482;

// Colors
$color-main: #3533EA;
$color-secondary: #DA594C;
$color-accent: #FEF777;
$color-dark: #20211D;
$color-light: #F1F1F1;

// Font sizes
$font-scale: 1.333;
$font-size: 14px;
$font-size-sm: $font-size * (1 / $font-scale);
$font-size-md: $font-size * $font-scale;
$font-size-lg: $font-size-md * $font-scale;
$font-size-xl: $font-size-md * $font-scale * $font-scale * $font-scale;

// Colors settings
$color-text: $color-light;
$color-bg: $color-dark;
$color-links: $color-light;
$color-nav: $color-accent;
$color-nav-bg: $color-main;

// Block layout & size
$side-w-base: 97px;
$side-h-base: 56px;

$block-scale: 1;

$side-w: $block-scale * $side-w-base;
$side-h: $block-scale * $side-h-base;

